node_modules

# Log files
npm-debug.log*

# Editor directories and files
.vscode

# Ignore vim swap
*.swp

# Vscode workspace
*.code-workspace

# IntelliJ
.idea/

# Gradle
.gradle/
build/
local.properties
