#root {
  max-width: 460px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Default Light Theme */
.app {
  background-color: white;
  color: black;
}

/* Dark Theme */
.app.dark {
  background-color: #212121;
  color: white;
}